<div> Workout: <%= @workout.name %></div>

<table>
<% @exercise_sets.each do |set| %>
  <tr>
    <td><%= set.weight %></td>
    <td><%= set.reps %></td>
  </tr>
<% end %>
</table>

<% if @workout.status == 1 %>
  <%= simple_form_for @workout do |f| %>
    <%= hidden_field_tag :status, 2 -%>
    <%= f.button :submit %>
  <% end %>
<% end %>


