<%= form_for(program) do |f| %>
  <% if program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <h3>Type your 1RM for the following exercises</h3>
    <%= simple_form_for @program do |f| %>
    <%= f.input :one_rm_squat, inline_label: 'Squat' %>
    <%= f.input :one_rm_bench_press, inline_label: 'Bench Press' %>
    <%= f.input :one_rm_deadlift, inline_label: 'Deadlift' %>
    <%= f.input :one_rm_overhead_press, inline_label: 'Overhead Press' %>
    <%= f.button :submit %>
<% end %>
  </div>
<% end %>
